.project-card {
  &__content {
    display: flex;
    flex-direction: column;
    border: 0.125rem solid $color-gray-50;
    gap: 2rem;
    padding: 2rem 1.5rem;
    border-radius: 0.75rem;
    align-items: center;
    flex-wrap: wrap;

    & > a {
      color: $color-gray-50;
    }
  }

  & > img {
    width: 20rem;
    height: 12rem;
  }
}
