.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  & > h2 {
    position: relative;

    &::before {
      content: "";
      background-color: $color-gray-50;
      height: 0.125rem;
      width: 18rem;
      right: 100%;
      margin-right: 4rem;
      position: absolute;
      top: 50%;
    }

    &::after {
      content: "";
      background-color: $color-gray-50;
      height: 0.125rem;
      width: 18rem;
      left: 100%;
      margin-left: 4rem;
      position: absolute;
      top: 50%;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      border: 0.125rem solid $color-gray-50;
      padding: 1rem 2rem;
      border-radius: 0.5rem;

      & > img {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}
