.user {
  display: flex;
  flex-direction: column;
  border: 0.125rem solid $color-gray-50;
  border-radius: 0.75rem;
  align-items: center;
  text-align: center;
  padding: 2rem 3.5rem;
  row-gap: 1.5rem;
  max-width: 14rem;

  &__description {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  & > img {
    width: 4rem;
    height: 4rem;
  }
}
