.pg--projeto {
  background-color: $color-gray-50;
  padding: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;

    &__input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: relative;

      & > label {
        color: $color-black;
        font-weight: 700;
        width: fit-content;
      }
      & > input {
        background-color: $color-gray-100;
        border: 1px solid $color-gray-500;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
      }

      & > span {
        background-color: $color-black;
        cursor: pointer;
        font-weight: 700;
        width: fit-content;
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        position: absolute;
        right: -5%;
        top: 22%;
        border-radius: 50%;
      }

      & > textarea {
        background-color: $color-gray-100;
        border: 1px solid $color-gray-500;
      }

      &__tecnologias {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;

        & > button {
          border: none;
          cursor: pointer;
          font-size: 1rem;
          color: $color-black;
          font-weight: 700;
          background-color: $color-gray-200;
          padding: 0.5rem 2rem;

          &:focus {
            background-color: $color-gray-800;
            color: $color-gray-200;
            font-weight: 500;
          }
        }
      }
    }
  }
  &__buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }
}
